.header {
  background: white;
  // border-bottom: solid 1px $grey;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: $dark-grey;
  text-decoration: none;
  h1 {
    margin: 0;
  }
  img {
    width: 50%;
    cursor: pointer;
  } 
}